<div class="container">
  <div class="row">
    <div class="col-xs-12 col-md-8 footer-disclaimer">
      <a  [routerLink]="['/terminos-y-condiciones']">T&eacute;rminos y condiciones</a>
    </div>
    <div class="col-xs-6 col-md-2">
      <img src="assets/img/lifemilesLogo.png" class="img-responsive  center-block logo">
    </div>
    <div class="col-xs-6 col-md-2" *ngIf="country == 'Colombia'">
        <img src="assets/img/redeban.png" class="img-responsive center-block logo">
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-xs-12 text-center" style="margin-top:10px;cursor:pointer;color:white" (click)=switchCountry()>
      Cambiar pais
    </div>
  </div> -->
</div>
