@import url('https://fonts.googleapis.com/css?family=Montserrat:700');
.navbar {
  color: white;
  height: 70px;
  line-height: 70px;
}

.navbar-nav {
  padding: 15px;
}

.nav>li>a:focus, .nav>li>a:hover {
  background: none;
}

.navbar-toggle {
  background-image: url(../../../assets/img/collapsed.png)
}

a, a:hover {
  color: white;
  cursor: pointer;
}

a:hover {
  text-shadow: 0 0 3px #FFFFFF;
}

.nav>li.active>a {
  text-shadow: 0 0 3px #FFFFFF;
}

.nav>li {
  position: relative;
}

.neon {
  position: absolute;
  height: 130px;
  top: 0;
  left: 50%;
  display: none;
  z-index: -1;
}

.menu1 .neon {
  width: 200px;
  margin-left: -100px;
}

.menu2 .neon {
  width: 230px;
  margin-left: -115px;
}

.menu3 .neon {
  width: 110px;
  margin-left: -55px;
}

.menu4 .neon {
  width: 220px;
  margin-left: -110px;
}

.nav>li.active .neon {
  display: block;
}

.menu-items {
  padding-right: 0;
}

.filter-holder {
  padding: 0;
  padding-top: 20px;
  width: 265px;
  position: relative;
}

.filter-holder .slider-holder {
  position: absolute;
  z-index: 2;
  top: 6px;
  left: 40px;
}

.currentMaxPoints {
  position: absolute;
  top: 26px;
  right: -41px;
  color: white;
  line-height: 20px;
  font-family: 'Montserrat', sans-serif;
}
