<nav class="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a class="navbar-brand" [routerLink]="['/home']"><img src="assets/img/home.png" alt=""></a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav menu-items">
        <li class="menu1" routerLinkActive="active"><a [routerLink]="['/salud-y-belleza']">SALUD Y BELLEZA</a><img src="assets/img/neon.png" alt="" class="neon"></li>
        <li class="menu2" routerLinkActive="active"><a [routerLink]="['/ropa-y-accesorios']">ROPA Y ACCESORIOS</a><img src="assets/img/neon.png" alt="" class="neon"></li>
        <li class="menu3" routerLinkActive="active"><a [routerLink]="['/hogar']">HOGAR</a><img src="assets/img/neon.png" alt="" class="neon"></li>
        <li class="menu4" routerLinkActive="active"><a [routerLink]="['/entretenimiento']">ENTRETENIMIENTO</a><img src="assets/img/neon.png" alt="" class="neon"></li>
      </ul>
      <div class="nav navbar-nav navbar-right filter-holder">
          <img src="assets/img/filter2.png" class="img-responsive">
          <div class="slider-holder">
            <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-tooltip="hide" data-slider-min="0" data-slider-max="100" data-slider-step="1" data-slider-value="100"/>
            <span class="currentMaxPoints">{{currentMaxPoints | number:".0-0"}}</span>
          </div>
      </div>
    </div>
  </div>
</nav>
