<div class="container">
  <div class="row">
    <div class="col-xs-12" *ngIf="allProducts.length == 0">
      <app-loading></app-loading>
    </div>
    <div class="col-xs-12" *ngIf="allProducts.length != 0 && !product">
      <p style="color:white">Producto no encontrado</p>
    </div>
    <div  *ngIf="product" [@fadeIn]="''">
      <div class="row">
        <div class="col-xs-12 text-center category">
          <i>{{category}}</i>
        </div>
        <div class="col-xs-12 text-center">
          <i>Antes, al pagar con tus millas: LM125 =USD1 , ahora: LM100= USD1</i>
        </div>
      </div>
      <div class="row margin-top-60">
        <div class="col-xs-12 col-sm-6">
          <div class=" image" [ngStyle]="{ 'background-image': 'url('+image+')'}"></div>
          <div class="discount">{{discount}}</div>
        </div>
        <div class="col-xs-12 col-sm-6 detailsDescription">
          <div class="row">
            <div class="col-xs-12">
              <div class="name">
                {{product.name}}
              </div>
                <div class="brand">
                  {{brand}}
                </div>
            </div>
            <div class="col-xs-12">
              <div *ngIf="product.stock_quantity > 0" class="available">
                {{product.stock_quantity}} unidades disponibles
              </div>
            </div>
            <div class="col-xs-12 margin-top-10">
              <div class="previous-price pull-left">
                <span class="title">Antes desde</span>
                <span class="price">{{previousPrice}}</span>
                <img src="assets/img/crossed.png" class="crossedImg">
              </div>
              <div class="actual-price pull-left">
                <span class="title">Ahora desde</span>
                <span class="price">{{actualPrice}}</span>
              </div>

            </div>
            <div class="col-xs-12 description" [innerHTML]="product.description">
            </div>
            <div class="col-xs-12 terms" [innerHTML]="product.short_description">
            </div>
          </div>
        </div>
      </div>
      <div class="row margin-top-60" *ngIf="relatedProducts.length > 0">
          <div class="col-xs-12 related">
            <b>Productos</b> relacionados
          </div>
          <div [@fadeIn]="''" *ngFor="let product of relatedProducts" class="col-xs-12 col-sm-4">
            <app-product-thumbnail [product]="product"></app-product-thumbnail>
          </div>
      </div>
    </div>
  </div>
</div>
