* {
  color: white;
}

.category {
  font-size: 32px;
}

.image {
  width: 100%;
  height: auto;
  padding-top: 56.64%;
  background-color: #3c3b40;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all ease 0.3s;
  position: relative;
  border-radius: 5px;
}

.discount {
  position: absolute;
  top: 10px;
  left: 30px;
  width: 50px;
  height: 50px;
  background-image: url('../../../assets/img/discount.png');
  background-size: 100%;
  color: white;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.margin-top-60 {
  margin-top: 60px
}

.actual-price {
  height: 45px;
  width: 100%;
  margin-top: 20px;
  background-color: #fe0000;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  transition: all ease 0.3s;
  text-align: center;
}

.title {
  font-size: 10px;
  display: block;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.previous-price {
  width: 100%;
  margin-top: 5px;
  position: relative;
  color: white;
  text-align: center;
}

.crossedImg {
  position: absolute;
  top: 0;
  left: 20%;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 100%;
}

.name {
  font-size: 20px;
  width: 70%;
  float: left;
}

.brand {
  width: 30%;
  float: right;
  color: #616169;
  line-height: 28px;
  text-align: right;
}

.margin-top-10 {
  margin-top: 10px;
}

.available {
  color: #66656a;
  margin-top: 5px;
  margin-bottom: 10px;
  display: none;
}

.description {
  margin-top: 20px;
}

.terms {
  margin-top: 10px;
  font-size: 12px;
}

.related {
  font-size: 20px;
}
