<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <img [@fadeIn]="''" src="assets/img/header.png" alt="" class="img-responsive center-block header max-80">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img [@fadeIn]="''" src="assets/img/use2.png" class="img-responsive center-block max-80">
    </div>
    <div class="col-xs-12 text-center discountsHeader">
      descuentos del 24 al 27 de Noviembre del 2017
    </div>
  </div>
  <div class="row margin-top-40 featured">
      <div  [@fadeIn]="''" *ngIf="allProducts.length == 0">
        <app-loading></app-loading>
      </div>
      <div  [@fadeIn]="''" *ngIf="allProducts.length != 0 && products.length == 0">
        <p style="color:white">No hay productos disponibles</p>
      </div>

      <div [@fadeIn]="''" *ngFor="let product of products" class="col-xs-12 col-sm-6">
      <app-product-thumbnail [product]="product"></app-product-thumbnail>
    </div>
  </div>
  <div class="row" *ngIf="randProducts.length > 0">
      <div [@fadeIn]="''" *ngFor="let product of randProducts" class="col-xs-12 col-sm-4">
        <app-product-thumbnail [product]="product"></app-product-thumbnail>
      </div>
  </div>
</div>
