@import url('//fonts.googleapis.com/css?family=Roboto:300,400|Material+Icons');
.header {
  margin-top: 40px;
}

.max-80 {
  max-width: 80%;
}

.decoration {
  position: absolute;
  top: 350px;
}

.decoration img {
  max-width: 210px;
}

.discountsHeader {
  color: white;
  font-size: 22px;
  font-weight: 300;
  font-family: 'Roboto', sans-serif;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.margin-top-40 {
  margin-top: 40px;
}

p {
  color: white;
}
