.product {
  border: solid 1px #3c3b40;
  border-radius: 8px;
  margin: 20px 10px;
  overflow: hidden;
  cursor: pointer;
}

.product:hover .img-holder {
  background-size: 110%;
  cursor: pointer;
}

.product:hover .name {
  text-shadow: 0 0 3px #FFFFFF;
}

.product:hover .available {
  color: white;
  text-shadow: 0 0 3px #FFFFFF;
}

.product:hover .actual-price {
  box-shadow: 0 0 5px #fe0000;
}

.img-holder {
  width: 100%;
  height: auto;
  padding-top: 56.64%;
  background-color: #3c3b40;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  transition: all ease 0.3s;
  position: relative;
}

.magnifying {
  position: absolute;
  width: 21px;
  height: 21px;
  bottom: 10px;
  right: 10px;
  background-image: url('../../../assets/img/lupa.png');
}

.discount {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  height: 50px;
  background-image: url('../../../assets/img/discount.png');
  background-size: 100%;
  color: white;
  line-height: 50px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}

.description {
  padding: 15px;
}

.name {
  font-size: 18px;
  line-height: 16px;
  color: white;
  transition: all ease 0.3s;
  height: 32px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 65%;
  float: left;
}

.brand {
  float: right;
  width: 35%;
  color: #616169;
  transition: all ease 0.3s;
  height: 32px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-align: right;
  font-size: 12px;
}

.crossedImg {
  position: absolute;
  top: 0;
  left: 20%;
  bottom: 0;
  right: 0;
  width: 60%;
  height: 100%;
}

.margin-top-20 {
  margin-top: 20px;
}

.actual-price {
  text-align: center;
  height: 45px;
  width: 100%;
  background-color: #fe0000;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  transition: all ease 0.3s;
  margin-top: 10px;
}

.title {
  font-size: 10px;
  display: block;
}

.price {
  font-weight: bold;
  font-size: 16px;
}

.previous-price {
  text-align: center;
  margin-top: 5px;
  color: white;
  position: relative;
  width: 100%;
  height: 45px;
}
