<div class="product" (click)="goToDetail(product.id)" >
  <div class="img-holder"  [ngStyle]="{ 'background-image': 'url('+image+')'}">
    <div class="discount">{{discount}}</div>
    <div class="magnifying"></div>
  </div>
  <div class="description">
    <div class="row">
      <div class="col-xs-12">
        <span class="name">{{product.name}}</span>
        <span class="brand">{{brand}}</span>
      </div>
    </div>
    <div class="row margin-top-20">
      <div class="col-xs-12">
        <div class="previous-price">
          <span class="title">Antes desde</span>
          <span class="price">{{previousPrice}}</span>
          <img src="assets/img/crossed.png" class="crossedImg">
        </div>
        <div class="actual-price">
          <span class="title">Ahora desde</span>
          <span class="price">{{actualPrice}}</span>
        </div>
      </div>
    </div>
  </div>
</div>
