<div class="container">
  <h1>T&eacute;rminos y condiciones Black Weekend </h1>
  <div class="row" *ngIf="country == 'Colombia'">
    <div class="col-xs-12">
      <ul>
        <li>Promoción valida únicamente del 24 al 27 de noviembre de 2017.</li>
        <li>Promoción aplica únicamente para Colombia.</li>
        <li>La promoción aplica exclusivamente en los siguientes aliados participantes: American Eagle, Boots N Bags, Calzatodo, Colchones Paraíso, Corona Listo, Dental Spa, Doopler, Eureka, Josh, Oxford, Sergio Rada y Tempur. </li>
        <li>Los aliados participantes otorgarán un descuento a los Socios LifeMiles sobre el monto total de algunos de los productos y/o servicios que sean adquiridos durante el período de vigencia de la promoción mediante compras en las que se realice redención de millas del Programa LifeMiles, de acuerdo a las condiciones de cada aliado. </li>
        <li>Esta promoción no está disponible para todos los productos y/o servicios de los aliados participantes, consulta en www.blackweekendlm.com  el listado de productos y/o servicios de los aliados participantes a los cuales aplica el descuento, así como el porcentaje de descuento aplicable a los mismos. </li>
        <li>Los productos y/o servicios a los que se le aplica descuento son definidos exclusivamente por cada aliado participante.</li>
        <li>Para algunos de los productos y/o servicios, el descuento aplica únicamente si se paga la totalidad del precio mediante la redención de millas, para otros productos y/o servicios el descuento aplica pagando una parte en millas y la otra parte en dinero, de acuerdo a las condiciones de la oferta establecidas por cada aliado para cada producto y/o servicio.</li>
        <li>El porcentaje de descuento en cada producto y/o servicio es definido por cada aliado participante. El porcentaje puede variar dependiendo cada producto y/o servicio.</li>
        <li>Todos los pagos de productos y/o servicios deberá hacerse en su totalidad al momento de la compra.</li>
        <li>Consulta en ww.lifemiles.com los puntos de venta de los aliados participantes en que está disponible la redención de millas.</li>
        <li>Algunos de los productos y/o servicios pueden no estar disponibles en todos los puntos de venta de los aliados participantes. Consulta directamente con el aliado, los puntos de venta en los cuales se encuentran disponibles los productos y/o servicios sujetos a la promoción.</li>
        <li>Para acceder a la promoción y para poder redimir millas, los clientes deberán ser Socios del Programa LifeMiles.</li>
        <li>La redención de millas se realiza a través de datáfonos, ya sea deslizando tu tarjeta de socio LifeMiles, digitando tu número LifeMiles o tu número de Cédula de Ciudadanía. </li>
        <li>Si utilizarás tu tarjeta de socio LifeMiles para realizar tus transacciones de redención, es indispensable que la presentes al momento de la compra.</li>
        <li>Si utilizarás tu número LifeMiles o tu número de Cédula de Ciudadanía para realizar tus transacciones de redención, es indispensable que presentes tu Cédula de Ciudadanía. </li>
        <li>Para poder realizar transacciones de redención, a través del número de Cédula de Ciudadanía es indispensable que dicho número se encuentre previamente registrado en tu perfil de LifeMiles, lo cual puedes hacer en LifeMiles.com.</li>
        <li>Para poder redimir tus millas, deberás ingresar el PIN de tu cuenta LifeMiles en el datáfono. Puedes crear o modificar tu PIN en el perfil de tu cuenta LifeMiles.</li>
        <li>Para American Eagle, la redención de millas se realiza únicamente a través de la lectura del código QR generado en la aplicación móvil por lo que es indispensable haber descargado la aplicación móvil y tener una tarjeta de membresía habilitada.</li>
        <li>Para poder generar el código QR en la aplicación móvil, deberás ingresar el PIN de tu cuenta LifeMiles en la aplicación. El PIN se validará cuando el aliado lea el código QR generado por la aplicación. Puedes crear o modificar tu PIN en el perfil de tu cuenta LifeMiles.</li>
        <li>Redención mediante aplicación móvil solo disponible en sistema operativo Android y iOS (Apple).</li>
        <li>Promoción válida durante todo el período de la promoción o hasta agotar existencias.</li>
        <li>Promoción no acumulable con otras promociones y descuentos de los aliados participantes.</li>
        <li>Redenciones no generan acumulación de millas.</li>
        <li>Aplican términos y condiciones adicionales para transacciones de redención en comercios afiliados a De Compras con LifeMiles, y términos y condiciones particulares de cada aliado. Consúltalos en LifeMiles.com o directamente con el aliado de tu preferencia.</li>
        <li>Aplican términos y condiciones del Programa LifeMiles publicados en LifeMiles.com.</li>
        <li>LifeMiles es una marca registrada de LifeMiles Ltd.</li>
      </ul>
    </div>
  </div>
  <div class="row" *ngIf="country == 'Salvador'">
    <div class="col-xs-12">
      <ul>
        <li>Promoción valida únicamente del 24 al 27 de noviembre de 2017.</li>
        <li>Promoción aplica únicamente para El Salvador.</li>
        <li>La promoción aplica exclusivamente en los siguientes aliados participantes: Vidrí, Farmacia Las Américas, Radio Shack, Totto, Gourmet Express, Tony Romas, La Curacao y World Gym.</li>
        <li>Los aliados participantes otorgarán un descuento a los Socios LifeMiles sobre el monto total de algunos de los productos y/o servicios que sean adquiridos durante el período de vigencia de la promoción mediante compras en las que se realice redención de millas del Programa LifeMiles, de acuerdo a las condiciones de cada aliado. </li>
        <li>El porcentaje de descuento en cada producto y/o servicio es definido por cada aliado participante. El porcentaje puede variar dependiendo cada producto y/o servicio.</li>
        <li>Todos los pagos de productos y/o servicios deberá hacerse en su totalidad al momento de la compra.</li>
        <li>Consulta en ww.lifemiles.com los puntos de venta de los aliados participantes en que está disponible la redención de millas.</li>
        <li>Algunos de los productos y/o servicios pueden no estar disponibles en todos los puntos de venta de los aliados participantes. Consulta directamente con el aliado, los puntos de venta en los cuales se encuentran disponibles los productos y/o servicios sujetos a la promoción.</li>
        <li>Para acceder a la promoción y para poder redimir millas, los clientes deberán ser Socios del Programa LifeMiles y la tarjeta de Socio debe estar debidamente habilitada, lo cual puedes hacer en www.lifemiles.com. </li>
        <li>Debes presentar la tarjeta de socio para poder redimir Millas y cumplir con las condiciones establecidas en LifeMiles.com/Tarjeta. </li>
        <li>Promoción válida durante todo el período de la promoción o hasta agotar existencias.</li>
        <li>Promoción no acumulable con otras promociones y descuentos de los aliados participantes.</li>
        <li>Redenciones no generan acumulación de millas.</li>
        <li>Aplican términos y condiciones particulares de cada aliado. Consúltalos en LifeMiles.com o directamente con el aliado de tu preferencia.</li>
        <li>Aplican términos y condiciones del Programa LifeMiles publicados en LifeMiles.com.</li>
        <li>LifeMiles es una marca registrada de LifeMiles Ltd.</li>
      </ul>
    </div>
  </div>
</div>
