<div class="container">
<div [@fadeIn]="''"  class="row">
  <div class="col-xs-12 text-center category">
    <i>Entretenimiento</i>
  </div>
  <div class="col-xs-12 text-center">
    <i>Antes, al pagar con tus millas: LM125 =USD1 , ahora: LM100= USD1</i>
  </div>
</div>
  <div class="row">
    <div [@fadeIn]="''" class="col-xs-12 text-center premios ">
      Precios disponibles con
    </div>
    <div [@fadeIn]="''" class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 holder">
      <div class="rectangle">
        {{currentPointsFilter | number:".0-0"}}
      </div>
      <img src="assets/img/lifeMiles2.png" class="millasLogo">
    </div>
  </div>
  <div class="row margin-top-40">
      <div  [@fadeIn]="''" *ngIf="allProducts.length == 0">
        <app-loading></app-loading>
      </div>
      <div  [@fadeIn]="''" *ngIf="allProducts.length != 0 && products.length == 0">
        <p style="color:white">No hay productos disponibles.</p>
      </div>

      <div [@fadeIn]="''" *ngFor="let product of products" class="col-xs-12 col-sm-4">
      <app-product-thumbnail [product]="product"></app-product-thumbnail>
    </div>
  </div>
</div>
