/* You can add global styles to this file, and also import other style files */

@import url('//fonts.googleapis.com/css?family=Roboto|Material+Icons');
body {
  background-image: url("assets/img/backgroundHome.jpg");
  background-position: top;
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #1e1d22 !important;
  color: white;
}

* {
  font-family: 'Roboto', sans-serif;
}

.slider.slider-horizontal {
  width: 105px !important;
  margin-right: 27px;
}

.slider-handle {
  border: solid 3px #cacaca !important;
  background: black !important;
  margin-left: -4px;
}

.slider-track {
  background: none !important;
  height: 8px !important;
  margin-top: -4px !important;
}

.slider-selection {
  background: #898989 !important;
}

.featured .available {
  float: right !important;
  display: initial;
}

.premios {
  margin-top: 40px;
  font-size: 18px;
  color: white;
  font-family: 'Roboto', sans-serif;
}

.rectangle {
  background-image: url('assets/img/rectangle.png');
  width: 244px;
  height: 184px;
  margin-left: 64px;
  float: left;
  padding-top: 50px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  color: white;
}

.holder {
  margin-top: -40px;
}

.millasLogo {
  margin-top: 50px;
  margin-left: -40px;
}

@media only screen and (max-width: 1199px) {
  .menu-items {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .menu-items a {
    padding-left: 5px !important;
    padding-right: 5px !important;
  }
  .navbar-header {
    width: 210px;
  }
  .navbar-header .navbar-brand img {
    max-width: 100%;
    margin-top: 5px;
  }
  .header {
    margin-top: -40px !important;
  }
}

@media only screen and (max-width: 992px) {
  .navbar-right {
    margin-right: 50% !important;
    right: -132px !important;
    margin-top: -15px !important;
    margin-bottom: 20px !important;
  }
  .footer-disclaimer {
    margin-bottom: 20px;
  }
  .logo {
    margin-left: auto !important;
  }
  .previous-price .price {
    font-size: 13px !important;
  }
  .actual-price .price {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 767px) {
  .max-80 {
    max-width: 90% !important;
  }
  .navbar-header {
    width: initial;
  }
  .navbar-brand {
    float: none !important;
    padding: 0 !important;
    height: initial !important;
    line-height: initial !important;
  }
  .navbar-header .navbar-brand img {
    margin: 5px auto;
  }
  .header {
    margin-top: 0px !important;
  }
  .related {
    text-align: center;
  }
  .product, .image {
    max-width: 300px;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  .detailsDescription {
    max-width: 300px;
    margin-left: auto !important;
    margin-right: auto !important;
    float: none !important;
  }
  .rectangle {
    float: none !important;
    margin-top: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-bottom: -120px !important;
  }
  .millasLogo {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block;
  }
  .navbar {
    height: auto !important;
  }
  .navbar .menu-items {
    text-align: center;
  }
  .navbar-right {
    float: none !important;
    margin-left: auto !important;
    margin-right: auto !important;
    right: 0 !important;
  }
}
